@charset "utf-8";

body {
  margin: 0;
  padding: 2em calc(1.5em + 5vw);
}

body,
input,
textarea {
  font-family: "Hiragino Mincho ProN", "YuMincho", "游明朝", serif;
}

/* #output{
    font-family: 'Noto Serif JP',"Hiragino Mincho ProN", "YuMincho", "游明朝",  serif;
  } */

p {
  margin: 0 0 .25em;
}

#input {
  width: 80%;
  height: 6em;
  font-size: 100%;
  line-height: 1.5;
}

#output span {
  width: 80%;
  font-size: 180%;
  line-height: 2;
}

.newline {
  display: block;
}

.kanji {
  position: relative;
  background: yellow;
}

.kanji.joyo {
  background: transparent;
}

.kanji.jitai {
  color: red;
}

.kanji.shikaru {
  color: black;
}

.kanji.salomoji {
  color: red;
}

.kanji.itaijiselect {
  color: red;
}

.daijisen::after {
  content: '辞';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  margin: -0.9em 0 0 -0.5em;
  font-size: 50%;
  text-align center;
  color: red;
}

.kyoiku::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  margin: -0.9em 0 0 -0.5em;
  font-size: 50%;
  text-align: center;
  color: #4af;
}

.y1:after {
  content: "1";
}

.y2:after {
  content: "2";
}

.y3:after {
  content: "3";
}

.y4:after {
  content: "4";
}

.y5:after {
  content: "5";
}

.y6:after {
  content: "6";